
  <ion-side-menus>
    <ion-side-menu side="left">
      <ion-list>
        <ion-item  menu-close href="#/home/task"> Home</ion-item>


        <ion-item>Photo</ion-item>


        <ion-item menu-close href="#/home/addTask"> Add task </ion-item>


        <ion-item> Calendar </ion-item>
      </ion-list>

    </ion-side-menu>

  <ion-side-menu-content class="main-home__side-menu-content">

    <div class="main-home__top clearfix">
      <span class="main-home__menu ion-android-menu" id="menu" ng-click="home.toggleLeft()"></span>
      <span class="main-home__search ion-android-search" id="search"></span>
    </div>


    <ion-nav-view name="menuContent" class="sss"></ion-nav-view>




  </ion-side-menu-content>



  </ion-side-menus>





