<div class="main-home">

  <div class="main-home__about-day clearfix">
    <div class="main-home__about-day__current">
      <h2>Воскресенье</h2>
      <p>February 14, 2016</p>
    </div>
    <div class="main-home__about-day__weather">
      <h2><span class="ion-android-sunny"></span>  33</h2>
      <p>Гродно</p>
    </div>
  </div>

  <div class="task">
    <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
      <div class="task__row clearfix">
        <div class="task__when">
          13:00
        </div>
        <div class="task__about">
          <p class="task__title">Проект : Task manager</p>
          <p class="task__description">Написать добавление задачи</p>
        </div>
      </div>

      <div class="task__row clearfix">
        <div class="task__when">
          17:00
        </div>
        <div class="task__about">
          <p class="task__title">Обед</p>
          <p class="task__description">сходить поесть :D</p>
        </div>
      </div>
      <div class="task__row clearfix">
        <div class="task__when">
          23:00
        </div>
        <div class="task__about">
          <p class="task__title">Спать</p>
          <p class="task__description">Лечь спать(нет)</p>
        </div>
      </div>
    </ion-scroll>
  </div>

  <div class="nav" id="task-button">
    <a href="#" class="nav-item nav-item-1"><span class="">1</span></a>
    <a href="#" class="nav-item nav-item-2"><span class="">2</span></a>
    <a href="#" class="nav-item nav-item-3"><span class="">3</span></a>
    <a href="#" class="nav-item nav-item-4"><span class="">4</span></a>

    <span class="ion-ios-plus-empty"></span>
  </div>

</div>
