<ion-side-menus>
  <ion-side-menu side="left">
    <ion-list>
      <ion-item menu-close ng-click="$ctrl.goToMain()"> Главная</ion-item>

      <ion-item menu-close href="#/home/addTask"> Добавить задачу</ion-item>

      <ion-item menu-close href="#/home/calendar"> Календарь </ion-item>

      <ion-item menu-close href="#/home/contacts"> Контакты </ion-item>

      <ion-item ng-click="$ctrl.exit()"> Выход</ion-item>
    </ion-list>

  </ion-side-menu>

  <ion-side-menu-content class="main-home__side-menu-content">

    <div class="main-home__top clearfix">
      <!--<span class="main-home__menu ion-android-menu" id="menu" ng-click="$ctrl.toggleLeft()"></span>-->

      <div class="hamburger" ng-class="{'is-active': $ctrl.isShownLeftMenu}" id="hamburger-6" ng-click="$ctrl.toggleLeft()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <span class="main-home__search ion-android-search" id="search" ng-click="$ctrl.openFilterInput()"> </span>

      <div class="search" ng-class="{ 'search-visible': $ctrl.showFilter }">
          <input type="search" placeholder="Фильтр" ng-model="$ctrl.filter" ng-change="$ctrl.onFilterChanged()">
      </div>
    </div>

    <ion-nav-view name="menuContent"></ion-nav-view>

    <toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"></toaster-container>
  </ion-side-menu-content>
</ion-side-menus>
