<div class="main-login">
  <div class="main-login__ok">

  </div>

  <div class="main-login__form">
    <form ng-submit="$ctrl.signIn()">

      <div class="main-login__form-row clearfix">
        <span class="ion-android-person"></span>
        <input type="text" ng-model="$ctrl.login" placeholder="Логин" />
      </div>

      <div class="main-login__form-row clearfix">
        <span class="ion-android-lock"></span>
        <input type="password" ng-model="$ctrl.password" placeholder="Пароль" />
      </div>

      <div class="main-login__form-button">

        <button type="submit" class="main-login__button" ng-class="{ 'main-login__isLoading': $ctrl.isLoading, 'success': $ctrl.isSuccess }">Войти </button>

      </div>
    </form>
    <div class="main-login__href">
      <p>
        Нет учетной записи? <a href="#/signup"> Регистрация  </a>
      </p>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"></toaster-container>
  </div>
</div>
