<!-- Login Page-->
<div class="main-login">
  <div class="main-login__ok">

  </div>

  <div class="main-login__form">
    <form ng-submit="login.somefunc()">

        <div class="main-login__form-row clearfix">
          <span class="ion-android-person"></span>
          <input type="text" placeholder="Логин" />
        </div>

        <div class="main-login__form-row clearfix">
          <span class="ion-android-lock"></span>
          <input type="password" placeholder="Пароль" />
        </div>

        <div class="main-login__form-button">
          <button type="submit" class="main-login__button">Войти </button>
        </div>

    </form>
    <div class="main-login__href">
      <p>
        Нет учетной записи? <a href="#/signup"> Регистрация </a>
      </p>
    </div>

  </div>


</div>
