<!--<div class="main-signup">-->

  <!--<div class="main-signup__back">-->
   <!--<a href="#/login"> <span class="ion-android-arrow-back"></span> </a>-->
  <!--</div>-->

  <!--<div class="main-signup__title">-->
    <!--<h2>Регистрация</h2>-->
  <!--</div>-->

  <!--<div class="main-signup__add-photo">-->
      <!--<span class="ion-ios-camera-outline"></span>-->
  <!--</div>-->

  <!--<div class="main-login__form">-->

    <!--<form ng-submit="signup.somefunc()">-->

      <!--<div class="main-login__form-row clearfix">-->
        <!--<span class="ion-android-person"></span>-->
        <!--<input type="text" placeholder="Логин" />-->
      <!--</div>-->

      <!--<div class="main-login__form-row clearfix">-->
        <!--<span class="ion-email"></span>-->
        <!--<input type="email" placeholder="Ваш e-mail" />-->
      <!--</div>-->

      <!--<div class="main-login__form-row clearfix">-->
        <!--<span class="ion-android-lock"></span>-->
        <!--<input type="password" placeholder="Пароль" />-->
      <!--</div>-->

      <!--<div class="main-login__form-row clearfix">-->
        <!--<span class="ion-calendar"></span>-->
        <!--<input type="date" placeholder="Дата рождения" />-->
      <!--</div>-->

      <!--<div class="main-login__form-button">-->
        <!--<button type="submit" class="main-login__button">Создать </button>-->
      <!--</div>-->

    <!--</form>-->


  <!--</div>-->

<!--</div>-->
