
<div class="main-addTask">

  <div class="main-addTask__title">
    <h2>Добавить задачу:</h2>
  </div>

  <div class="main-addTask__add">

    <div class="main-addTask__row clearfix">
      <div class="main-addTask__row__left">
        <span class="ion-clock"></span> Время
      </div>
      <div class="main-addTask__row__right">
        <input type="time" placeholder="" ng-model="$ctrl.time"/>
      </div>
    </div>

    <div class="main-addTask__row clearfix">
      <div class="main-addTask__row__left">
        <span class="ion-calendar"></span> Дата
      </div>
      <div class="main-addTask__row__right">
        <input type="date" placeholder="" ng-model="$ctrl.date"/>
      </div>
    </div>

    <div class="main-addTask__row clearfix">
      <div class="main-addTask__row__left">
        <span class="ion-ios-paper-outline"></span> Заголовок
      </div>
      <div class="main-addTask__row__right">
        <input type="text" placeholder="" ng-model="$ctrl.title"/>
      </div>
    </div>

    <div class="main-addTask__row clearfix">
      <div class="main-addTask__row__description-title">
        <span class="ion-ios-list-outline"></span> Описание
      </div>
      <div class="main-addTask__row__right">
        <textarea name="asd" rows="2" ng-model="$ctrl.description"></textarea>
      </div>
    </div>

    <div class="main-login__form-button">
      <button class="main-login__button" ng-click="$ctrl.submitTask()">
        Добавить задачу
      </button>
    </div>

  </div>

  <ui-nav-button></ui-nav-button>

</div>

