.main-addTask-dropdown{
  background: none;
  color:white;
  border: none;
  font-size:20px;
  font-weight: 300;
  div {

  }

  select {
    background: none;
    color:white;
    font-size: 14px;
  }

  select option {
    color:black;
  }
}
