<div class="main-home">

  <div class="main-home__about-day clearfix">
    <div class="main-home__about-day__current">
      <h2>{{ getDay() }}</h2>
      <p>{{ getMonthNow() +" "+ getDateNow() + ", " + getYearNow() }}</p>

    </div>
    <div class="main-home__about-day__weather">
      <h2><img src="" id="img-weather"> {{ getTemp() }}</h2>
      <p class="main-home__about-day__weather--country">Гродно</p>
    </div>
  </div>

  <div class="task">

    <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">

      <div class="task__row clearfix"
           ng-repeat="t in getTasks() | orderBy:'timeAt'"
           ng-click="task.aboutTask(t.id)">
        <div class="task__when">
          {{t.timeAt}}
        </div>
        <div class="task__about">
          <p class="task__title">{{t.title}}</p>
          <p class="task__description">{{t.description}}</p>
        </div>

      </div>

    </ion-scroll>
  </div>

  <!-- Menu -->

  <ui-nav-button></ui-nav-button>

</div>
