.select-header-bar {
  background: #6B60A6;
  h1 {
    color:white;
  }
}

.select-body-items{
  background: #6B60A6;
  color:white;
}

.select-body-item{
    background: #6B60A6;
    color:white;
}
.items-select-wrapper{
  background: none;
  color:white;
  border: 1px solid #59516f;
  font-weight: 300;
  font-size: 20px;
}
