<div class="main-add-task">

  <div class="main-add-task__title">
    <h2>Task description:</h2>
  </div>

  <div>

    <div class="main-add-task__row">
      <div class="main-add-task__row-left">
        <span class="ion-clock"></span> 
        Время:
      </div>
      <div class="main-add-task__row-right">
        <input type="time" placeholder="" ng-model="$ctrl.time" />
      </div>
    </div>

    <div class="main-add-task__row">
      <div class="main-add-task__row-left">
        <span class="ion-calendar"></span> 
        Дата:
      </div>
      <div class="main-add-task__row-right">
        <input type="date" placeholder="" ng-model="$ctrl.date"/>
      </div>
    </div>

    <div class="main-add-task__row main-add-task__title">
      <div class="main-add-task__row-left">
        <span class="ion-ios-paper-outline"></span> Заголовок:
      </div>
      <div class="main-add-task__row-right">
        <input type="text" placeholder="" ng-model="$ctrl.title"/>
      </div>
      <div class="main-add-task__row-microphone" ng-click="$ctrl.speechRecognizer('title')">
        <i class="ion-android-microphone" ng-class="{ 'isRecogniting': $ctrl.getIsRecogniting('title') }"></i>
      </div>
    </div>

    <div class="main-add-task__row">
      <div class="main-add-task__description-title">
        <span> <i class="ion-ios-list-outline"></i> Описание: </span>
        <div class="main-add-task__row-microphone" ng-click="$ctrl.speechRecognizer('description')">
          <i class="ion-android-microphone" ng-class="{ 'isRecogniting': $ctrl.getIsRecogniting('description') }"></i>
        </div>
      </div>
      <div class="main-add-task__row-right">
        <textarea id="description" name="asd" rows="2" ng-model="$ctrl.description"></textarea>
      </div>
    </div>

    <div class="main-add-task__row main-add-task__dropdown">
      <div class="">
        <span class="ion-clock"></span> 
        Оповестить за:
      </div>
      <select ng-model="$ctrl.notifyOf" style="color: white;">
        <option>15 минут</option>
        <option selected>30 минут</option>
        <option>45 минут</option>
        <option>60 минут</option>
      </select>
    </div>

    <!-- <ui-multi-select
      header-text="Multiple"
      allow-empty='false'
      value="$ctrl.val.multiple"
      text="$ctrl.countries_text_multiple"
      items="$ctrl.contacts"
      multi-select="true"
      callback="$ctrl.multiSelectChanged(value)"
    >
    </ui-multi-select> -->

    <div class="main-login__form-button">
      <!-- <button class="main-login__button animated" ng-class="{'shake': $ctrl.isNotCorrectInput, flipInY: $ctrl.flipInY}" ng-click="$ctrl.submitTask()">
        Add task
      </button> -->

      <button 
        type="submit" 
        class="ui-button"
        (click)="onAddTask()"
      >
        Add task
      </button>
    </div>

  </div>

  <nav-button></nav-button>

</div>
