<div class="main-home">
  <div class="main-home__about-day">
    <div class="main-home__about-day__current">
      <h2>day</h2>
      <p>{{ 'month' +" "+ 'date' + ", " + 'year' }}</p>
    </div>
    <div class="main-home__about-day__weather">
      <h2>
        <img src="" id="img-weather"> 
        {{ temp }}
      </h2>
      <p class="main-home__about-day__weather--country">Grodno</p>
    </div>
  </div>

  <div class="task">
    <!--ng-repeat="t in $ctrl.tasks | filter: $ctrl.filter | orderBy:'timeAt' track by t.id"-->
    <!--              ng-class-odd="'animated bounceInLeft'"
            ng-class-even="'animated bounceInRight'"-->
    <!-- <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px"> -->

      <div *ngIf="false" 
            class="task__row"
            ng-class="{ 'animated' : !$ctrl.filter }"
            ng-class-odd="'bounceInLeft'"
            ng-class-even="'bounceInRight'"
            ng-repeat="t in $ctrl.tasks | orderBy:'timeAt' track by t.id"
            ng-click="task.aboutTask(t.id)"
      >
        <div class="task__when">
          {{t.timeAt}}
        </div>

        <div class="task__about">
          <p class="task__title">{{t.title}}</p>
          <p class="task__description">{{t.description}}</p>
        </div>
      </div>
    <!-- </ion-scroll> -->
  </div>
  <!-- <ui-nav-button></ui-nav-button> -->
</div>
  