<section class="auth main-login">
  <div class="main-login__ok"></div>

  <div class="auth__form">
    <form 
      [formGroup]="loginForm"  
      (ngSubmit)="onSubmit()" 
    >
      <div class="auth__form-row">
        <span class="auth__row-icon">
            <ion-icon name="person"></ion-icon>
        </span>
        <input type="text" placeholder="Login" formControlName="username" />
      </div>

      <div class="auth__form-row">
        <span class="auth__row-icon">
            <ion-icon name="lock"></ion-icon>
        </span>
        <input type="password" placeholder="Password" formControlName="password" />
      </div>

      <div class="auth__form-button">
        <button 
          type="submit" 
          class="auth__button main-login__button"
          [ngClass]="{
            'main-login__button_isLoading': isLoading,
            'success': isSuccess
          }"
        >
          Log In
        </button>
      </div>
    </form>
    <div class="auth__href">
      <p>
        No account? <a routerLink="/signup"> Sign up </a>
      </p>
    </div>
    <!-- TODO toaster -->
    <!-- <toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"></toaster-container> -->
  </div>
</section>