<div class="nav"
     ng-class="{ 'active': $ctrl.isShown}"
     id="task-button"
     ng-click="$ctrl.openNav($event)">

  <a href="#/home/calendar" class="nav-item nav-item-1">
    <span class="ion-ios-calendar-outline"></span>
  </a>

  <a href="#/home/addTask" class="nav-item nav-item-2">
    <span class="ion-compose"></span>
  </a>

  <a class="nav-item nav-item-3" ng-click="$ctrl.goTo()">
    <span class="ion-clipboard"></span>
  </a>

  <span class="ion-ios-plus-empty nav-plus-scale">

  </span>
</div>
