.main-login {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../../../assets/images/sea-rocks.png');
  background-size: 100% 100%;

  &__ok {
    width: 43%;
    height: 5.5%;
    background: #fff;
    position: absolute;
    left: 50%;
    top:20%;
    margin-left: -13%;
    transform: rotate(-45deg);
    border-radius: 5px;
    border-top-left-radius: 0;

    &:before {
      position: absolute;
      content: '';
      height: 150%;

      width: 23%;
      top: -150%;
      border-radius: 5px;
      background: #fff;
      box-shadow: inset -0.2rem -2rem 2rem rgba(0,0,0,0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__form {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__form-row {
    display: flex;
    color:#b3b3bc;
    margin-bottom: 5%;

    input {
      color:white;
      display: block;
      border: none;
      background: none;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      padding: 0;
      margin: 0;
      width: 70%;
      
      &::-webkit-input-placeholder {
        font-size: 1rem;
        color:#b3b3bc;
        font-weight: 200;
        padding-bottom: 40px;
        margin-bottom: 40px;
        line-height: 16px;
      };
    }
  }

  &__row-icon {
    // display: block;
    font-size: 1.6rem;
    margin-left: 8%;
    margin-right: 6%;
    padding-top: 4px;
    min-width: 20px;
  }

  &__form-button {
    width: 100%;
    height: auto;
    padding: 0 6%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  &__href {
    font-size: 0.8rem;
    text-align: center;
    color: #939294;
    margin-bottom: 6%;
    a {
      color: white;
      text-decoration: none;
    }
  }

  &__form-row {
    margin-bottom: 5%;
  }

  &__form-button {
    margin-top: 13%;
  }
}

.main-login__button {
  position: relative;
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 100;
  color: white;
  background: #ff3366;
  border: none;
  border-radius: 40px;
  width: 100%;
  height: auto;
  padding: 4% 0;
  margin: 0 auto;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.2rem;
    margin-top: -1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
  }

  &.success {
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
    transform: scale(100);
    opacity: 0.9;
    font-size: 0;

    &:after {
      transition: opacity 0.1s 0s;
      opacity: 0;
      animation: none;
    }
  }

  &_isLoading {
    width: 3rem;
    height: 3rem;
    font-size: 0;
    &:after{
      opacity: 1;
      animation: rotate 0.5s 0.4s infinite linear;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
