/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
body {
  font-size: 100%;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:before {
  content: '';
  clear: both;
  display: table; }

.main-login {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../img/background/background-login.png");
  background-size: 100% 100%; }
  .main-login__ok {
    width: 43%;
    height: 5.5%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -13%;
    transform: rotate(-45deg);
    border-radius: 5px;
    border-top-left-radius: 0; }
    .main-login__ok:before {
      position: absolute;
      content: '';
      height: 150%;
      width: 23%;
      top: -150%;
      border-radius: 5px;
      background: #fff;
      box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    @media screen and (max-height: 479px) {
      .main-login__ok {
        display: none; } }
  .main-login__form {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .main-login__form-row {
    color: #b3b3bc;
    margin-bottom: 5%; }
    .main-login__form-row span {
      display: inline-block;
      font-size: 1.6rem;
      margin-left: 8%;
      margin-right: 6%;
      float: left;
      padding-top: 4px;
      min-width: 20px; }
    .main-login__form-row input {
      color: white;
      display: block;
      border: none;
      background: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0;
      margin: 0;
      width: 70%; }
      .main-login__form-row input::-webkit-input-placeholder {
        font-size: 1rem;
        color: #b3b3bc;
        font-weight: 200;
        padding-bottom: 40px;
        margin-bottom: 40px;
        line-height: 12px; }
  .main-login__form-button {
    width: 100%;
    height: auto;
    padding: 0 6%;
    margin-top: 10%;
    margin-bottom: 10%; }
  .main-login__button {
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
    background: #ff3366;
    border: none;
    border-radius: 40px;
    width: 100%;
    height: auto;
    padding: 4% 0;
    margin: 0; }
  .main-login__href {
    font-size: 0.8rem;
    text-align: center;
    color: #939294;
    margin-bottom: 6%; }
    .main-login__href a {
      color: white;
      text-decoration: none; }

.main-signup {
  background: url("../img/background/background-signup.png");
  background-size: 100% 100%;
  width: 100%;
  height: auto; }
  .main-signup a {
    color: white;
    text-decoration: none; }
  .main-signup input[type="date"] {
    color: #b3b3bc; }
  .main-signup__back {
    font-size: 1.7rem;
    color: white;
    font-weight: 100;
    margin-top: 6%;
    margin-left: 4%;
    cursor: pointer; }
  .main-signup__title {
    margin-top: 4%;
    margin-left: 9%; }
    .main-signup__title h2 {
      color: white;
      font-weight: 100; }
  .main-signup__add-photo {
    cursor: pointer;
    margin-top: 12%;
    color: #c2bfce;
    font-size: 3.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 35%;
    text-align: center;
    padding-top: 1.7rem; }
  .main-signup .main-login__form-row {
    margin-bottom: 5%; }
  .main-signup .main-login__form-button {
    margin-top: 13%; }
  @media screen and (max-height: 550px) {
    .main-signup__add-photo {
      display: none; } }
  @media screen and (max-height: 440px) {
    .main-signup__title {
      display: none; }
    .main-signup__back {
      display: none; } }

ion-side-menus {
  background: url("../img/background/background-home.png") no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s; }

.sss {
  background-size: 100% 100%;
  transition: all 0.5s; }

.main-home {
  width: 100%;
  height: 100%;
  background: inherit; }
  .main-home__side-menu-content {
    background: inherit;
    background-size: 100% 100%;
    transition: all 0.5s; }
  .main-home__top {
    width: 100%;
    color: white;
    font-size: 1.8rem;
    padding-top: 6%; }
  .main-home__menu {
    display: block;
    float: left;
    margin-left: 4%; }
  .main-home__search {
    display: block;
    float: right;
    margin-right: 4%; }
  .main-home__about-day {
    padding-top: 6%; }
    .main-home__about-day h2 {
      color: white;
      padding: 0;
      margin: 0;
      font-weight: 100; }
    .main-home__about-day p {
      padding: 0;
      margin: 0;
      padding-top: 5%;
      color: #bfbbd2;
      font-size: 0.8rem; }
    .main-home__about-day__current {
      float: left;
      margin-left: 6%; }
    .main-home__about-day__weather {
      float: right;
      margin-right: 4%; }
      .main-home__about-day__weather p {
        padding-top: 15%; }

.nav {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  right: 5%;
  bottom: 11%;
  transition: all 0.3s; }
  .nav:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transition: all .3s;
    background: #ff3366; }
  .nav .nav-plus-scale {
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    padding-top: 7px;
    padding-left: 20px;
    border-radius: 50%;
    color: #fff;
    background: #ff3366;
    z-index: 99; }
  .nav .nav-item {
    font-size: 2rem;
    color: white;
    padding-top: 7px;
    padding-left: 19px;
    transition: all 0.3s;
    position: absolute;
    z-index: 5; }
  .nav.active:before {
    width: 320px;
    height: 320px;
    top: -100px;
    left: -100px;
    z-index: 1; }
  .nav.active .nav-plus-scale {
    transform: rotate(135deg);
    background: #cf0e3f;
    z-index: 99; }
  .nav.active .nav-item-1 {
    transform: translate(10px, -80px); }
  .nav.active .nav-item-2 {
    transform: translate(-55px, -45px); }
  .nav.active .nav-item-3 {
    transform: translate(-80px, 25px); }

.task {
  width: 100%;
  color: white;
  margin-top: 13%;
  font-weight: 100;
  background: inherit; }
  .task p {
    margin: 0;
    padding: 0; }
  .task__row {
    margin-left: 6%;
    margin-bottom: 5%;
    cursor: pointer; }
  .task__when {
    float: left;
    font-size: 1.2rem;
    padding-top: 2%; }
  .task__about {
    float: left;
    margin-left: 6%;
    width: 81%;
    border-bottom: 1px #736e92 solid;
    padding-bottom: 3%; }
  .task__description {
    font-size: 0.8rem;
    color: #bfbbd2; }

.main-addTask {
  color: white;
  background: inherit; }
  .main-addTask .sss {
    background: white !important; }
  .main-addTask__title {
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 6%; }
    .main-addTask__title h2 {
      color: white;
      font-weight: 100; }
  .main-addTask__row {
    font-size: 1.2rem;
    margin-bottom: 5%;
    margin-left: 4%;
    width: 100%;
    font-weight: 100; }
    .main-addTask__row span {
      margin-right: 5%; }
    .main-addTask__row__left {
      float: left;
      padding-top: 2%;
      padding-right: 4%;
      width: 140px; }
    .main-addTask__row__right {
      float: left;
      width: 50%; }
    .main-addTask__row input {
      color: white;
      display: block;
      border: none;
      background: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0;
      margin: 0;
      width: 100%; }
      .main-addTask__row input::-webkit-input-placeholder {
        font-size: 1rem;
        color: #b3b3bc;
        font-weight: 200;
        padding-bottom: 40px;
        margin-bottom: 40px;
        line-height: 12px; }
    .main-addTask__row__description-title span {
      margin-right: 2%; }
    .main-addTask__row textarea {
      margin-top: 4%;
      width: 190%;
      background: none;
      resize: none;
      color: white;
      border-bottom: 1px solid #59516f; }
